<li>
    <a href="#"><i class='ri-settings-2-line icon' ></i> Administracao <i class='ri-arrow-down-s-line icon-right' ></i></a>
    <ul class="side-dropdown">
        <li><a href="{{URL}}/grupos">Grupo de Utilizadores</a></li>
        <li><a href="{{URL}}/utilizadores">Utilizadores</a></li>
        <li><a href="{{URL}}/funcionario">Funcionários</a></li>
        <li><a href="{{URL}}/especialidade">Especialidades</a></li>
        <li><a href="{{URL}}/definicoes">Definições</a></li>
    </ul>
</li>