<!-- NAVBAR -->
<div class="nav__container">
    <nav>
        <i class='ri-menu-line toggle-sidebar show-icon' ></i>
        <form action="#">
            <div class="form-group-search">
                <input type="text" placeholder="Pesquisar...">
                <i class='ri-search-line icon' ></i>
            </div>
        </form>
        <a href="#" class="nav-link">
            <i class='ri-notification-3-line icon' ></i>
            <span class="badge">5</span>
        </a>
        <a href="#" class="nav-link">
            <i class='ri-message-2-line icon' ></i>
            <span class="badge">8</span>
        </a>
        <a href="#" class="nav-link">
            <h5>{{name}}</h5>
        </a>
        <div class="profile">
            <img src="resources/views/dashboard/images/logo.png" alt="">
            <ul class="profile-link">
                <li><a href="#"><i class='ri-account-circle-line icon' ></i> Conta</a></li>
                <li><a href="#"><i class='ri-settings-2-line' ></i> Definicoes</a></li>
                <li><a href="{{URL}}/logout"><i class='ri-logout-box-r-line' ></i> Sair</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- NAVBAR -->