<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/views/dashboard/includes/css/style.css">
    <link rel="stylesheet" href="resources/views/dashboard/includes/css/font.css">
    <link rel="stylesheet" href="resources/views/dashboard/includes/css/remixicon.css">
    <link rel="stylesheet" href="resources/views/dashboard/includes/css/jquery-ui.css">
    <script type="text/javascript" src="resources/views/dashboard/includes/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="resources/views/dashboard/includes/js/jquery-ui.js"></script>

    <link rel="stylesheet" href="../resources/views/dashboard/includes/css/style.css">
    <link rel="stylesheet" href="../resources/views/dashboard/includes/css/font.css">
    <link rel="stylesheet" href="../resources/views/dashboard/includes/css/remixicon.css">
    <link rel="stylesheet" href="../resources/views/dashboard/includes/css/jquery-ui.css">
    <script type="text/javascript" src="../resources/views/dashboard/includes/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="../resources/views/dashboard/includes/js/jquery-ui.js"></script>

    <link rel="stylesheet" href="../../resources/views/dashboard/includes/css/style.css">
    <link rel="stylesheet" href="../../resources/views/dashboard/includes/css/font.css">
    <link rel="stylesheet" href="../../resources/views/dashboard/includes/css/remixicon.css">
    <link rel="stylesheet" href="../../resources/views/dashboard/includes/css/jquery-ui.css">
    <script type="text/javascript" src="../../resources/views/dashboard/includes/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="../../resources/views/dashboard/includes/js/jquery-ui.js"></script>

    <title>{{title}}</title>
</head>

<body>
    {{content}}
<script src="resources/views/dashboard/includes/js/script.js"></script>
<script src="../resources/views/dashboard/includes/js/script.js"></script>
<script src="../../resources/views/dashboard/includes/js/script.js"></script>

</body>

</html>
