<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sistema de gestao de Centro medico">
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP, MySQL">
    <meta name="author" content="cleverdeveloper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/views/login/inc/style.css">
    <link rel="stylesheet" href="resources/views/login/inc/font.css">
    <title>{{title}}</title>
</head>

<body>
    {{content}}
    
</body>

</html>