<section class="section__login">
    <div class="container__login">
        <div class="login__form">
            <div class="logo__login">
                <img src="resources/views/login/images/logo.png" alt="" srcset="">
            </div>
            <hr class="vertical">
            <div class="form__login">
                <div class="form__login__title">
                    <h2>Recuperação da senha</h2>
                    <hr class="linha">
                    <p>Coloque aqui o seu <strong>E-MAIL</strong> para recuperar a sua senha.</p>
                </div>
                <form action="">
                    <div class="form_group__login">
                        <div class="form__group__login__12">
                            <div class="label_form__login">
                                <label for="">Email<strong>*</strong></label>
                            </div>
                            <div class="input_form__login">
                                <input type="email" name="text_email" required>
                            </div>
                        </div>
                    </div>
                    <div class="buttons__login">
                        <div class="login__button">
                            <button type="submit" class="login__btn__login">Recuperar</button>
                        </div>
                        <div class="return__login">
                            <a href="{{URL}}" class="return__btn__login">Cancelar</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="footer__login">
            <h4>Copyright centro-medico &copy; 2022. Todos direitos reservados.</h4>
        </div>
    </div>
</section>